// Main Stylesheet for Citeplasm.org
// ---------------------------------

@import 'bootstrap/reset.less';
@import 'bootstrap/variables.less';
@import 'bootstrap/mixins.less';
@import 'bootstrap/utilities.less';
@import 'bootstrap/type.less';
@import 'bootstrap/grid.less';
@import 'bootstrap/layouts.less';
@import 'bootstrap/scaffolding.less';
@import 'bootstrap/component-animations.less';
@import 'bootstrap/navs.less';
@import 'bootstrap/navbar.less';


// Variables
// ---------

@navbarHeight:      80px;
@sansFontFamily:    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseFontSize:      16px;
@baseLineHeight:    28px;


// Layout
// ------

body {
    padding-top: @navbarHeight;
}


// Navbar
// ------

.navbar-inner {

    .brand {
        padding: 0;
        margin-top: 25px;

        background-image: url(/images/logo_hover.png);
        background-repeat: no-repeat;

        img {
            .transition(opacity .3s ease-in-out);
            opacity: 100;
        }
    }
    .brand:hover {
        img {
            opacity: 0;
        }
    }
}


// Jumbotron
// ---------

.jumbotron {
    position: relative;
    padding: 40px 0;
    color: @white;
    
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    
    //#gradient > .horizontal(#660F57, #663366);
    #gradient > .horizontal(#003366, #5B7290);
    .box-shadow(0 -3px 7px rgba(0, 0, 0, 0.2) inset);

    h1 {
        font-size: 80px;
        font-weight: bold;
        line-height: 90px;
        letter-spacing: -1px;
        margin-bottom: 20px;
    }

    p {
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(/images/jumbotron-bg.png);
        background-repeat: repeat;
        opacity: 0.05;
    }
}

// Social Media Links
// ------------------

.social-bar {
    background-color: #EFEFEF;
    border-bottom: 1px solid #DDD;
    padding: 20px 0;
}


// Sections
// --------

section {
    padding-top: 80px;
}

section.marketing {
    h1 {
        text-align: center;
        font-weight: 300;
    }

    h2 {
        color: @grayLight;
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
    }

    .row.highlights {
        margin-top: 40px;
        margin-bottom: 40px;

        h3 {
            color: @grayLight;
            font-weight: normal;
            text-align: center;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }
}


// Footer
// ------

.footer {
    background-color: #EFEFEF;
    border-top: 1px solid #DDD;
    margin-top: 70px;
    padding: 70px 0;

    p {
        font-size: 14px;
        line-height: 18px;
    }
}


