// Responsive Layouts
// ------------------

@import 'bootstrap/responsive.less';

// Responsive: Navbar
// --------------------------------------------------

@media (max-width: @navbarCollapseWidth) {
    .navbar-inner {
        .brand {
            padding: 0;
            margin-top: 25px;
            margin-left: 10px;
            background-image: none;
        }
    }
}

